body {
  margin: 0;
  background: white; }

svg {
  cursor: grab;
}

.links line,
.links path {
  stroke: #999;
  vector-effect: non-scaling-stroke;
  cursor: help;
}

.nodes circle {
  stroke-width: 1px;
  vector-effect: non-scaling-stroke;
  cursor: pointer;
}
.nodes circle:hover {
  stroke: white ! important;
  stroke-width: 1px ! important;
  vector-effect: non-scaling-stroke ! important;
}


text {
  font-family: sans-serif;
  font-size: 8px;
  fill: #777;
  text-anchor: middle;
  stroke: white;
  stroke-width: 2px;
  paint-order: stroke;
  vector-effect: non-scaling-stroke;
  pointer-events: none;
}

div.about {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 25em;
  font-family: sans-serif;
  background-color: white;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  height: 100%;
  overflow-x: scroll;
}
div.about h1 {
  font-size: 1.8em;
  color: #888;
}
div.about p {
  margin: 0 0 0.5em;
  line-height: 150%;
  color: #444;
}
div.about a:link,
div.about a:visited {
  color: #44a;
}
div.about a:hover,
div.about a:active {
  color: black;
}

div.content {
  margin: 1em;
}

.info_button {
  position: absolute;
  top: 0; left: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
}
.info_button img {
  width: 30px;
  height: 30px;
}
.close_button {
  position: absolute;
  right: 1em;
  font-size: 20px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  div.about {
    display: none;
    width: 100%;}

  /* .info_button,
  .close_button { display: block; } */
}
