body {
  margin: 0;
  background: white; }

line {
  stroke: #eee;
  stroke-width: 1px;
  vector-effect: non-scaling-stroke;
}

circle {
  stroke-width: 1px;
  vector-effect: non-scaling-stroke;
  cursor: pointer;
}
.nodes circle:hover {
  stroke: white ! important;
}


text {
  font-family: sans-serif;
  font-size: 8px;
  fill: #777;
  text-anchor: middle;
  stroke: white;
  stroke-width: 2px;
  paint-order: stroke;
  vector-effect: non-scaling-stroke;
  pointer-events: none;
}

div.about {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 17em;
  font-family: sans-serif;
  /* z-index: -1; */
}
div.about h1 {
  font-size: 1.5em;
  color: #888;
}
div.about p {
  margin: 0 0 0.5em;
  line-height: 150%;
  font-size: 0.75em;
  color: #777;
}
div.about a:link,
div.about a:visited {
  color: #555;
}
div.about a:hover,
div.about a:active {
  color: black;
}
